.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    height: 97vh;
}

.formulario {     
    display: flex; 
    flex-direction: row; 
    margin-top: 5rem;
    max-width: 40rem;
    gap: 1.5rem;
}

.box1{
    width: 6rem;
}

.box2{
    width: 35rem;
}